header {
    width:                      100%;
    background-color:           #BADAFF;
    border-bottom-right-radius: 40px 40px;
    height:                     60px;   
    z-index:                    1;
    position:                   absolute;
    border:                     0px;  
    -moz-box-shadow:            2px 5px 5px #AAA;
    -webkit-box-shadow:         2px 5px 5px #AAA;
    box-shadow:                 2px 5px 5px #AAA;       
}

header h1 {
    margin: 0px;
} 

.empty {
    height: 55px;
}

/*header table {
width:        auto;
border:       0px;
padding:      4px;
spacing:      2px;
text-align:   center;
margin-left:  auto;
margin-right: auto;
}

header a, header a:visited {
    font-size:        20px;
    font-weight:      bold;
    text-decoration:  none;
    color:            #CCC;
    background-color: #DEF;
    border-radius:    30px 30px;
    padding-left:     15px;
    padding-right:    15px;
    }

    header a:hover {
        font-size:        24px;
        font-weight:      bold;
        text-decoration:  none;
        color:            #FFF;
        background-color: #5453FF;
        border-radius:    30px 30px;
        padding-left:     20px;
        padding-right:    20px;
        }*/

.cbar {
    width:                      100%;
    height:                     100%;
    overflow:                   visible;
    position:                   fixed;
    float:                      left;
}

.cpage {
    width:                      95%;
    height:                     4px;
    background-color:           #DDD;
    border-bottom-right-radius: 40px 40px;
    -moz-box-shadow:            2px 5px 5px #AAA;
    -webkit-box-shadow:         2px 5px 5px #AAA;
    box-shadow:                 2px 5px 5px #AAA;
    overflow-y:                 hidden;
}

.scrollButton {
    position: absolute;
    height:  37px;
    width:   140px;
    background-color:           #DDD;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    -moz-box-shadow:            2px 5px 5px #AAA;
    -webkit-box-shadow:         2px 5px 5px #AAA;
    box-shadow:                 2px 5px 5px #AAA; 
    display:                    table-cell;
    text-align:                 center;
}

.scrollButton:hover {
    cursor: pointer;
}

.scrollButton h3 {
    margin-top: 7px;
    font-size: 1em;
}

.carea {
    top: 40px;
    width: 100%;
    height: 0px;
    overflow: visible;
}

.content-wrapper {
    width: 60%;
    height: 85%;
    margin-left: 10%;
    overflow-y: auto;
}

#cdrawer {
    height: 70%;
    width: 0px;
    background-color:           #DDD;
    border-bottom-right-radius: 40px 40px;
    -moz-box-shadow:            2px 5px 5px #AAA;
    -webkit-box-shadow:         2px 5px 5px #AAA;
    box-shadow:                 2px 5px 5px #AAA;
    overflow-x:                 hidden;
}

